extends ../layout.jade

block body

  h1= userDetail.name
  p: strong Contact:
  ul
    li Email: #{userDetail.email}
    li Office: 244-567-0832
    li Mobile: 123-432-5678

  p: strong Lead #{userDetail.role} For:

  if userDetail.Webcasts
    each webcast in userDetail.Webcasts
      li: a(href="/webcast/detail/" + webcast.id) #{webcast.title} →

  if devscasts
    ul
    each webcast in devscasts
      li: a(href="/webcast/detail/" + webcast.id) #{webcast.title} →
