extends ../layout.jade

block body
  if user
    h1= userDetail.name
    p Contact: #{userDetail.email}

    h2 Lead #{userDetail.role} on:

    if userDetail.Webcasts
      each webcast in userDetail.Webcasts
        li= webcast.title

    else if devscasts
      p Lead Developer on:
      ul
      each devscast in devscasts
        li= devscast.title
  else
    h2 Please register or log in.
