extends ../layout.jade

block body
  include ../_includes/prettyDate.jade
  if user
    //-h1 Dashboard
    .col-md-6.col-xs-12
      .panel.panel-default
        .panel-heading
          h4 Webcasts
            .pull-right
              a(href="/webcast/" class="btn btn-primary btn-xs")
                span.glyphicon.glyphicon-eye-open
                |  View All
              | &emsp;
              a(href="/webcast/new" class="btn btn-primary btn-xs")
                span.glyphicon.glyphicon-plus
                |  Add Webcast
        .panel-body
          h3 Scheduled
          ul
            each webcast in webcasts
              li
                a(href="/webcast/detail/" + webcast.id)
                  strong #{webcast.title} &rarr;
                br
                | On #{webcast.Channel.name}, #{prettyDate(webcast.webcastDate)}
                br
                |  Producer: #{webcast.User.name}
                br
                br

          h4 Recent Webcasts
          ul
            each pastWebcast in pastWebcasts
              li
                a(href="/webcast/detail/" + pastWebcast.id)
                  strong= pastWebcast.title
                br
                span(class="text-muted") #{prettyDate(pastWebcast.webcastDate)}

    .col-md-6.col-xs-12
      .panel.panel-default
        .panel-heading
          h4 Staff
            .pull-right
              a(href="/users/", class="btn btn-primary btn-xs")
                span.glyphicon.glyphicon-eye-open
                |  View All
              | &emsp;
              a(href="/users/register", class="btn btn-primary btn-xs")
                span.glyphicon.glyphicon-plus
                |  Add Staff
        .panel-body

          h3 Producers
          ul
            each producer in producers
              li
                a(href="/users/detail/" + producer.id)
                  strong= producer.name

          h3 Developers
          ul
            each developer in developers
              li
                a(href="/users/detail/" + developer.id)
                  strong= developer.name

    .clearfix
    h3 Live Feeds
      a(href="/channels/new", class="btn btn-primary btn-xs pull-right")
        span.glyphicon.glyphicon-plus
        |  Add channel
    hr
    for channel in channels
      .col-md-4.col-xs-6
        #Container(style='padding-bottom:56.25%; position:relative; display:block; width: 100%')
          iframe#UstreamIframe(width='100%', height='100%', src='http://www.ustream.tv/embed/#{channel.serviceID}?html5ui', frameborder='0', style='position:absolute; top:0; left: 0')
        p
          a(href="/channels/detail/" + channel.id)
            strong= channel.name

  else
    | Please Login or creat an account.
