extends ../layout.jade

block body
  if user
    include ../_includes/prettyDate.jade
    h1
      span.small Webcast Title
      br
      = webcast.title
      a(href="/webcast/update/" + webcast.id, class="btn btn-primary pull-right")
        span.glyphicon.glyphicon-cog
        |  Update Webcast
    hr
    .col-md-6.col-xs-12
      h2 Event Details
      ul
        li
          strong Date
          | &nbsp;
          | #{prettyDate(webcast.webcastDate)}

        li
          strong Venue
          | &nbsp;
          = webcast.venue
        li
          strong Channel
          | &nbsp;
          = webcast.Channel.name
        li
          strong Client Contact
          br
          = webcast.clientName
          |  |&nbsp;
          a(href="mailto:"+ webcast.clientEmail)
            | Email #{webcast.clientName}
    .col-md-6.col-xs-12
      h2 Staffing
      ul
        li
          strong Producer
          br
          = webcast.User.name
          br
          a(href="users/detail"+ webcast.User.id)
            | Details
          |  |&nbsp;
          a(href="mailto:"+ webcast.User.email)
            | Email #{webcast.User.name}

        li
          strong Developer
          br
          = dev.name
          br
          a(href="users/detail"+ dev.id)
            | Details
          |  |&nbsp;
          a(href="mailto:"+ dev.email)
            | Email #{dev.name}
    .clearfix
    hr
    .col-md-6.col-xs-12
      h3 Channel Preview
      #Container(style='padding-bottom:56.25%; position:relative; display:block; width: 100%')
        iframe#UstreamIframe(width='100%', height='100%', src='http://www.ustream.tv/embed/#{webcast.Channel.serviceID}?html5ui', frameborder='0', style='position:absolute; top:0; left: 0')


    .col-md-6.col-xs-12
      h3 Embed Code
      pre
        | &lt;div id=&quot;Container&quot;
        |    style=&quot;
        |     padding-bottom:56.25%;
        |     position:relative;
        |     display:block;
        |     width: 100%&quot;&gt;
        |   &lt;iframe
        |     id=&quot;UstreamIframe&quot;
        |     width=&quot;100%&quot; height=&quot;100%&quot;
        |     src=&quot;http://www.ustream.tv/embed/#{webcast.Channel.serviceID}?html5ui&quot;
        |     frameborder=&quot;0&quot;
        |     style=&quot;position:absolute; top:0; left: 0&quot;&gt;
        |   &lt;/iframe&gt;
        | &lt;/div&gt;

  else
    h2 Please register or log in.
