extends ../layout.jade
//- | <link rel="stylesheet" type="text/css" href="/public/angular-datepicker.min.css">
//- script(type="text/javascript" src="/public/angular-datepicker.min.js")
block body
  if user
    div
      form(method="POST" action="/webcast/new" name="create-webcast" novalidate)
        .form-group
          label(for="title") Title
          input.form-control#title(type="text" name="title" ng-model="webcast.title" required)
        .form-group
          label#webcastDate(for="webcastDate") Production Date
          input.form-control(type="date" name="webcastDate" ng-model="webcast.webcastDate" required)
        .form-group
          label#venue(for="venue") Venue
          input.form-control(type="text" name="venue" ng-model="webcast.venue")
        .form-group
          label#clientName(for="clientName") Client Name
          input.form-control(type="text" name="clientName" ng-model="webcast.clientName")
        .form-group
          label#clientEmail(for="clientEmail") Client Email
          input.form-control(type="text" name="clientEmail" ng-model="webcast.clientEmail")
        .form-group
          p
            strong Channel
          for channel in channels
            .radio
              label(for=channel.id)
                input(type='radio', id name=channel.id, value=channel.id, ng-model="webcast.ChannelId")
                = channel.name

        .form-group
          p
            strong Producer
          for user in users
            .radio
              label(for=user.id)
                input(type='radio', id name=user.id, value=user.id, ng-model="webcast.UserId")
                = user.username
        .form-group
          button.btn.btn-default(type="submit") Create Webcast

      pre webcast = {{ webcast | json }}
  else
    h1 Please login
